* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
}

body {
  background: #fff;
  color: #000;
  padding: 1rem;
}

.gu-unselectable {
  list-style: none;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

$lighten-hue: 40deg;
$darken-hue: 210deg;

$adjust-hue: 20%;
$adjust-saturation: 5%;
$adjust-lightness: 5%;

$adjust-hue-gradient-highlight: $adjust-hue / 2;
$adjust-saturation-gradient-highlight: $adjust-saturation / 2;
$adjust-lightness-gradient-highlight: $adjust-lightness / 2;

@function shift-hue( $from-hue, $to-hue, $amount ){
  $from-color: hsl( $from-hue, 100%, 50% );
  $to-color: hsl( $to-hue, 100%, 50% );
  $mixed: mix( $to-color, $from-color, $amount );
  $new-hue: hue( $mixed );

  @return $new-hue;
}

@function advanced-lighten( $from-color, $hue-amount, $saturation-amount, $lightness-amount ){
  $hue: hue( $from-color );
  $new-hue: shift-hue( $hue, $lighten-hue, $hue-amount );

  $light-and-saturation: lighten(
    desaturate(
      $from-color,
      $saturation-amount
    ),
    $lightness-amount
  );

  @return change-color( $light-and-saturation, $hue: $new-hue );
}

@function advanced-darken( $from-color, $hue-amount, $saturation-amount, $lightness-amount ){
  $hue: hue( $from-color );
  $new-hue: shift-hue( $hue, $darken-hue, $hue-amount );

  $light-and-saturation: darken(
    saturate(
      $from-color,
      $saturation-amount
    ),
    $lightness-amount
  );

  @return change-color( $light-and-saturation, $hue: $new-hue );
}

@mixin colorize-el-background( $base-color ){
  $gradient-highlight: advanced-lighten(
    $base-color,
    $adjust-hue-gradient-highlight,
    $adjust-lightness-gradient-highlight,
    $adjust-saturation-gradient-highlight
  );
  $gradient-base: $base-color;
  $gradient-shadow: advanced-darken(
    $base-color,
    $adjust-hue,
    $adjust-lightness,
    $adjust-saturation
  );

  background: $base-color;
  background: linear-gradient(
    to bottom,
    $gradient-highlight,
    $gradient-base,
    $gradient-shadow
  );
}

@mixin colorize-el( $base-color ){
  $gradient-shadow: advanced-darken(
    $base-color,
    $adjust-hue,
    $adjust-lightness,
    $adjust-saturation
  );

  $border-highlight: advanced-lighten(
    $base-color,
    $adjust-hue,
    $adjust-lightness,
    $adjust-saturation
  );
  $border-shadow: advanced-darken(
    $gradient-shadow,
    $adjust-hue,
    $adjust-lightness,
    $adjust-saturation
  );

  $text-shadow: advanced-darken(
    $border-shadow,
    $adjust-hue,
    $adjust-lightness,
    $adjust-saturation
  );

  @include colorize-el-background( $base-color );
  border: 0.0625rem solid $border-highlight;
  border-bottom: 0.0625rem solid $border-shadow;
  border-right: 0.0625rem solid $border-shadow;
  text-shadow: 0.0625rem 0.0625rem 0 $text-shadow;
}

$large-shadow: 0.25rem 0.25rem 1rem rgba( 0, 0, 0, 0.25 );
$medium-shadow: 0.125rem 0.125rem 0.5rem rgba( 0, 0, 0, 0.25 );
$small-shadow: 0.0625rem 0.0625rem 0.25rem rgba( 0, 0, 0, 0.25 );
$tiny-shadow: 0.03125rem 0.03125rem 0.125rem rgba( 0, 0, 0, 0.25 );

$progress-width: 20rem;
$progress-height: 4rem;
$progress-padding: 1rem;

$progress-color: hsl( 210, 5%, 95% );
$progress-bar-color: hsl( 150, 85%, 40% );

.progress {
  position: fixed;
  top: 50%;
  left: 50%;
  width: $progress-width;
  height: $progress-height;
  margin-left: $progress-width / -2;
  margin-top: $progress-height / -2;
  padding: $progress-padding;

  @include colorize-el( $progress-color );
  box-shadow: $large-shadow;
}

.progress > progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: $progress-width - $progress-padding * 2;
  height: $progress-height - $progress-padding * 2;

  border: none;
  background: #fff;
  color: $progress-bar-color;
  box-shadow: inset $tiny-shadow;
}

.progress > progress::-webkit-progress-bar {
  border: none;
  background: #fff;
  box-shadow: inset $tiny-shadow;
}

.progress > progress::-webkit-progress-value {
  @include colorize-el( $progress-bar-color );
}

.progress > progress::-moz-progress-bar {
  @include colorize-el( $progress-bar-color );
}

.progress--hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba( 255, 255, 255, 0.5 );
}

.modal--hidden {
  display: none;
}
