html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #000;
}

.gu-unselectable {
  list-style: none;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

$progress-width: 20rem;
$progress-height: 4rem;
$progress-padding: 1rem;

$progress-color: $panel-color;
$progress-bar-color: $success-color;

.progress {
  position: fixed;
  top: 50%;
  left: 50%;
  width: $progress-width;
  height: $progress-height;
  margin-left: $progress-width / -2;
  margin-top: $progress-height / -2;
  padding: $progress-padding;

  @include colorize-el( $progress-color );
  box-shadow: $large-shadow;
}

.progress > progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: $progress-width - $progress-padding * 2;
  height: $progress-height - $progress-padding * 2;

  border: none;
  background: #fff;
  color: $progress-bar-color;
  box-shadow: inset $tiny-shadow;
}

.progress > progress::-webkit-progress-bar {
  border: none;
  background: #fff;
  box-shadow: inset $tiny-shadow;
}

.progress > progress::-webkit-progress-value {
  @include colorize-el( $progress-bar-color );
}

.progress > progress::-moz-progress-bar {
  @include colorize-el( $progress-bar-color );
}

.progress--hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba( 255, 255, 255, 0.5 );
}

.modal--hidden {
  display: none;
}
