<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title data-text="documentTitle"></title>
    <fragment data-each="headStyles">
      <fragment data-include="style" />
    </fragment>
    <fragment data-each="headScripts">
      <fragment data-include="script" />
    </fragment>
  </head>
  <body>
    <div class="modal modal--hidden"></div>
    <div class="progress progress--hidden"><progress></progress></div>
    <div data-container data-html="body"></div>
    <fragment data-each="scripts">
      <fragment data-include="script" />
    </fragment>
  </body>
</html>
