// whitespace

$line-height: 1.25;
$base-spacing: 1.25rem;
$pixel: $base-spacing * 0.05;

@function spacing( $multiplier:1, $subtract:0 ){
  @return ( $base-spacing * $multiplier ) - $subtract;
}

// palette
$primary-color: hsl(210, 85%, 60% );
$primary-color-darker: hsl(210, 85%, 40% );
$secondary-color: hsl( 210, 15%, 40% );
$success-color: hsl( 150, 85%, 40% );
$warning-color: hsl( 40, 100%, 50% );
$alert-color: hsl( 0, 85%, 50% );
$near-white-color: hsl( 210, 5%, 95% );
$light-grey-color: hsl( 210, 5%, 80% );
$near-black-color: hsl( 210, 85%, 15% );

$primary-grey-color: hsl( 210, 25%, 80% );
$success-grey-color: hsl( 150, 25%, 80% );
$success-white-color: hsl( 150, 25%, 95% );

// derived colors (from palette)
$button-color: $primary-color;
$button-color-hover: advanced-lighten( $button-color );
$button-color-active: advanced-darken( $button-color );
$button-alert-color: $alert-color;
$button-alert-color-hover: advanced-lighten( $button-alert-color );
$button-alert-color-active: advanced-darken( $button-alert-color );

$panel-color: $near-white-color;

$list-color: $primary-grey-color;
$list-panel-color: hsl( 210, 95%, 95% );

$input-color: advanced-lighten( $near-white-color );
$input-color-hover: advanced-darken( $near-white-color );

$select-color: $success-grey-color;
$select-inset-color: hsl( 150, 75%, 95% );
$select-panel-color: $success-white-color;

$toolbar-color: $light-grey-color;

$highlight-color: $primary-color;

// shadows
$large-shadow: spacing( 0.25 ) spacing( 0.25 ) spacing( 1 ) rgba( 0, 0, 0, 0.25 );
$medium-shadow: spacing( 0.125 ) spacing( 0.125 ) spacing( 0.5 ) rgba( 0, 0, 0, 0.25 );
$small-shadow: spacing( 0.0625 ) spacing( 0.0625 ) spacing( 0.25 ) rgba( 0, 0, 0, 0.25 );
$tiny-shadow: spacing( 0.03125 ) spacing( 0.03125) spacing( 0.125 ) rgba( 0, 0, 0, 0.25 );
