.input-radio {
  display: block;
  color: $near-black-color;
  @include colorize-el( $panel-color );
  text-shadow: none;
  padding: spacing( 0.5, $pixel );
}

.input-radio__title small {
  font-style: italic;
}
