$toolbar-group-color: hsl( 210, 15%, 40% );
$toolbar-group-collapsed-color: hsl( 210, 15%, 60% );
$toolbar-group-children-color: hsl( 210, 5%, 95% );
$toolbar-button-color: hsl(210, 85%, 60% );

.toolbar {
  display: flex;
  flex-direction: row;

  margin-bottom: 1rem;
  font-size: 0.9rem;
  max-width: 100%;
  overflow-x: auto;
}

.toolbar-group {
  /*
  display: flex;
  flex-direction: row;
  */
  display: inline-block;

  padding: 0.25rem;

  color: #fff;
  @include colorize-el( $toolbar-group-color );
}

.toolbar-group--collapsed {
  @include colorize-el( $toolbar-group-collapsed-color );
}

.toolbar-group > header {
  //display: flex;
  display: block;

  padding-right: 0.25rem;
  align-items: center;
}

.toolbar-group[data-depth="0"] > header {
  display: none;
}

.toolbar-group__children {
  display: flex;
  flex-direction: row;
  padding: 0.25rem;

  @include colorize-el( $toolbar-group-children-color );
}

.toolbar-group--collapsed > .toolbar-group__children {
  display: none;
}

.toolbar-group__children > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.toolbar-group__children > ul > li {
  display: flex;
  flex-direction: row;
  margin-right: 0.25rem;
}

.toolbar-group__children > ul > li:last-child {
  margin-right: 0;
}

.toolbar-button {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0.5rem;

  @include colorize-el( $toolbar-button-color );
}
