.breadcrumb {
  padding: spacing( 1, $pixel );

  @include colorize-el( $input-color );
  text-shadow: none;
  box-shadow: $medium-shadow;
}

.breadcrumb ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumb li {
  display: inline;
}

.breadcrumb li::after {
  content: "›";
  padding: 0 spacing( 0.5 );
}

.breadcrumb li:last-child::after {
  content: none;
}
