$toolbar-children-color: hsl( 210, 85%, 40% );
$toolbar-empty-color: hsl( 210, 10%, 90% );
$children-color: hsl( 210, 95%, 95% );

.composer-node > .header-bar .header-bar__title::before,
.composer-node__children > .header-bar .header-bar__title::before {
  content: "▴";
  padding-right: spacing( 0.5 );
}

.composer-node--collapsed > .header-bar .header-bar__title::before,
.composer-node__children--collapsed > .header-bar .header-bar__title::before {
  content: "▾";
}

.composer-node:not( [data-depth="0"] ) > .header-bar {
  cursor: move;
}

.composer-node__view {
  margin-bottom: spacing( 0.5 );
  overflow: hidden;
  padding: spacing( 0.5 );

  color: $near-white-color;
  @include colorize-el-background( $near-black-color );
}

.composer-node__view:last-child {
  margin-bottom: 0;
}

.composer-node__main {
  padding: spacing( 0.75 );
  margin: spacing( 0.25 );
  margin-top: 0;

  @include colorize-el-background( $panel-color );
  box-shadow: $medium-shadow;
}

.composer-node--collapsed > .composer-node__main,
.composer-node__children--collapsed > .composer-node__main {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}

.composer-node__children {
  overflow: hidden;

  @include colorize-el-background( $children-color );
  @include colorize-el-border-inset( $panel-color );
  box-shadow: inset $medium-shadow;
}

.composer-node__children > ul {
  margin: 0;
  padding: spacing( 0.5 );
  list-style: none;
}

.composer-node__children--collapsed > ul {
  height: 0;
  padding: 0;
  overflow: hidden;
}

.composer-node__children > ul > li {
  margin: 0;
  padding: 0;
}

.composer-node > .header-bar {
  color: $near-white-color;
  @include colorize-el( $secondary-color );
}

.composer-node--empty > .header-bar {
  color: $near-black-color;
  @include colorize-el( $toolbar-empty-color );
}

.children-bar {
  color: $near-white-color;
  @include colorize-el( $toolbar-children-color );
}
