$toolbar-color: hsl( 210, 15%, 40% );
$toolbar-children-color: hsl( 210, 85%, 40% );
$toolbar-empty-color: hsl( 210, 10%, 90% );
$main-color: hsl( 210, 5%, 95% );
$children-color: hsl( 210, 95%, 95% );
$action-color: hsl(210, 85%, 60% );
$action-delete-color: hsl( 0, 83%, 50% );

.composer-node__toolbar {
  min-height: 3rem;

  color: hsl( 210, 10%, 95% );
  @include colorize-el( $toolbar-color );
  box-shadow: $medium-shadow;
}

.composer-node__title {
  line-height: 3;
  padding: 0 1rem;
}

.composer-node__children > .composer-node__toolbar {
  @include colorize-el( $toolbar-children-color );
  box-shadow: $medium-shadow;
}

.composer-node--empty > .composer-node__toolbar {
  color: hsl( 210, 85%, 15% );
  @include colorize-el( $toolbar-empty-color );
  box-shadow: $medium-shadow;
}

.composer-node:not( [data-depth="0"] ) > .composer-node__toolbar {
  cursor: move;
}

.composer-node__view {
  margin-bottom: 0.5rem;
  overflow: hidden;
  padding: 0.5rem;

  color: #111;
  background: #fff;
  box-shadow: inset $tiny-shadow;
}

.composer-node__view:last-child {
  margin-bottom: 0;
}

.composer-node__main {
  padding: 0.75rem;
  margin: 0.25rem;
  margin-top: 0;

  @include colorize-el-background( $main-color );
  box-shadow: $medium-shadow;
}

.composer-node--collapsed > .composer-node__main,
.composer-node__children--collapsed > .composer-node__main {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}

.composer-node__children {
  overflow: hidden;

  @include colorize-el-background( $children-color );
  box-shadow: inset $medium-shadow;
}

.composer-node__children > ul {
  margin: 0;
  padding: 0.5rem;
  list-style: none;
}

.composer-node__children--collapsed > ul {
  height: 0;
  padding: 0;
  overflow: hidden;
}

.composer-node__children > ul > li {
  margin: 0;
  padding: 0;
}

.composer-node__actions {
  display: block;
  float: right;
}

.composer-node__actions > li {
  display: block;
  float: left;
}

.composer-node__actions .button {
  display: block;
  margin: 0.5rem 0;
}

.composer-node__actions li:last-child .button {
  margin-right: 0.5rem;
}
