<div class="composer-node" data-tag="nodeTag">
  <header class="composer-node__toolbar">
    <span class="composer-node__title" data-text="title"></span>
    <span class="composer-node__delete"><i class="fa fa-trash"></i></span>
  </header>

  <div class="composer-node__main">
    <div class="composer-node__view">
      <code data-html="preview"></code>
    </div>

    <fragment data-not="isEmpty">
      <div class="composer-node__children" data-tag="childWrapperTag">
        <header class="composer-node__toolbar">
          <span class="composer-node__title" data-text="childrenTitle"></span>
        </header>
        <ul data-dragsource="composer">
        </ul>
      </div>
    </fragment>
  </div>
</div>
