<div class="composer-node" data-tag="nodeTag">
  <header class="composer-node__toolbar">
    <span data-text="title"></span>
    <span class="composer-node__delete"><i class="fa fa-trash"></i></span>
  </header>

  <div class="composer-node__main">
    <div class="composer-node__view">
      <code data-html="preview"></code>
    </div>

    <div class="composer-node__children" data-tag="childWrapperTag">
      <header class="composer-node__toolbar">
        <span data-text="childrenTitle"></span>
      </header>
      <ul data-dragsource="composer">
      </ul>
    </div>
  </div>
</div>
