.button {
  padding: 0;
  font-size: 1rem;
  line-height: spacing( 1.5, $pixel * 2 );
  text-align: center;

  color: $near-white-color;
  @include colorize-el( $button-color );
  box-shadow: $small-shadow;
}

.button:hover {
  @include colorize-el( $button-color-hover );
}

.button:active {
  @include colorize-el( $button-color-active );
}

.button--disabled {
  opacity: 0.5;
}

.button--alert {
  color: $near-white-color;
  @include colorize-el( $button-alert-color );
}

.button--alert:hover {
  @include colorize-el( $button-alert-color-hover );
}

.button--alert:active {
  @include colorize-el( $button-alert-color-active );
}

.button::-moz-focus-inner {
  margin-top: -2px;
}
