.input-selectable-icon {
  display: block;
  padding: spacing( 0.25, $pixel );
  width: spacing( 6 );
  height: spacing( 6 );
  text-align: center;
  overflow: hidden;

  color: $near-black-color;
  @include colorize-el( $input-color );
}

.input-selectable-icon:not( .input-selectable-icon--selected ):hover {
  @include colorize-el( $input-color-hover );
}

.input-selectable-icon--selected {
  color: $near-white-color;
  @include colorize-el( $highlight-color );
}

.input-selectable-icon i {
  margin: spacing( 0.5 );
  margin-bottom: 0;
}

.input-selectable-icon__title {
  padding: spacing( 0.25 );
  height: spacing( 1 );
  font-size: spacing( 0.75 );
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.input-selectable-icon__title input, .input-selectable-icon__title span {
  display: inline;
}
