.input-selectable-icon {
  display: block;
  padding: 0.25rem;
  width: 6rem;
  height: 6rem;
  text-align: center;
  overflow: hidden;

  color: $near-black-color;
  @include colorize-el( $input-color );
}

.input-selectable-icon:not( .input-selectable-icon--selected ):hover {
  @include colorize-el( $input-color-hover );
}

.input-selectable-icon--selected {
  color: $near-white-color;
  @include colorize-el( $highlight-color );
}

.input-selectable-icon i {
  margin: 0.5rem;
  margin-bottom: 0;
}

.input-selectable-icon__title {
  padding: 0.25rem;
  height: 1.5rem;
  line-height: 1.5;
  font-size: 0.9375rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.input-selectable-icon__title input, .input-selectable-icon__title span {
  display: inline;
}
