$input-selectable-icon-color: hsl( 210, 5%, 95% );
$input-selectable-icon-selected-color: hsl(210, 85%, 60% );

.input-selectable-icon {
  display: block;
  padding: 0.25rem;
  width: 6rem;
  height: 6rem;
  position: relative;
  text-align: center;
  overflow: hidden;

  color: #222;
  @include colorize-el( $input-selectable-icon-color );
}

.input-selectable-icon--selected {
  color: #fff;
  @include colorize-el( $input-selectable-icon-selected-color );
}

.input-selectable-icon i {
  margin: 0.5rem;
  margin-bottom: 0;
}

.input-selectable-icon__title {
  position: absolute;
  left: 0.25rem;
  right: 0.25rem;
  bottom: 0.25rem;
  padding: 0.25rem;
  height: 1.5rem;
  line-height: 1.5;
  font-size: 0.9375rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.input-selectable-icon__title input, .input-selectable-icon__title span {
  display: inline;
}
