.header-window {
  @include colorize-el( $toolbar-color );
  padding: spacing( 0.25, $pixel );
  box-shadow: $medium-shadow;
}

.header-window > .header-bar {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
  padding-bottom: spacing( 0.25 );
}

.header-window__main {
  padding: spacing( 0.75, $pixel );

  @include colorize-el-background( $panel-color );
  @include colorize-el-border-inset( $toolbar-color );
  box-shadow: inset $small-shadow;
}
