$action-color: hsl(210, 85%, 60% );
$action-delete-color: hsl( 0, 83%, 50% );

$action-color-hover: hsl(210, 75%, 70% );
$action-delete-color-hover: hsl( 0, 73%, 60% );

$action-color-active: hsl(210, 95%, 50% );
$action-delete-color-active: hsl( 0, 93%, 40% );

.button {
  padding: 0;
  font-size: 1rem;
  line-height: 1.875rem;
  width: 1.875rem;
  text-align: center;

  color: hsl( 210, 5%, 95% );
  @include colorize-el( $action-color );
  box-shadow: $small-shadow;
}

.button:hover {
  @include colorize-el( $action-color-hover );
}

.button:active {
  @include colorize-el( $action-color-active );
}

.button--disabled {
  opacity: 0.5;
}

.button--delete {
  color: hsl( 0, 5%, 95% );
  @include colorize-el( $action-delete-color );
}

.button--delete:hover {
  @include colorize-el( $action-delete-color-hover );
}

.button--delete:active {
  @include colorize-el( $action-delete-color-active );
}

.button::-moz-focus-inner {
  margin-top: -2px;
}
