.composer {
  line-height: 2;
  font-size: 1rem;
}

$toolbar-color: hsl( 210, 15%, 40% );
$toolbar-children-color: hsl( 210, 85%, 40% );
$toolbar-empty-color: hsl( 210, 10%, 90% );
$main-color: hsl( 210, 5%, 95% );
$children-color: hsl( 210, 95%, 95% );
$action-color: hsl(210, 85%, 60% );
$action-delete-color: hsl( 0, 83%, 50% );
$progress-color: hsl( 210, 5%, 95% );
$progress-bar-color: hsl( 150, 85%, 40% );

$progress-width: 20rem;
$progress-height: 4rem;
$progress-padding: 1rem;

.composer-node__toolbar {
  min-height: 3rem;

  color: hsl( 210, 10%, 95% );
  @include colorize-el( $toolbar-color );
  box-shadow: $medium-shadow;
}

.composer-node__title {
  line-height: 3;
  padding: 0 1rem;
}

.composer-node__children > .composer-node__toolbar {
  @include colorize-el( $toolbar-children-color );
  box-shadow: $medium-shadow;
}

.composer-node--empty > .composer-node__toolbar {
  color: hsl( 210, 85%, 15% );
  @include colorize-el( $toolbar-empty-color );
  box-shadow: $medium-shadow;
}

.composer-node:not( [data-depth="0"] ) > .composer-node__toolbar {
  cursor: move;
}

.composer-node__view {
  margin-bottom: 0.5rem;
  overflow: hidden;
  padding: 0.5rem;

  color: #111;
  background: #fff;
  box-shadow: inset $tiny-shadow;
}

.composer-node__view:last-child {
  margin-bottom: 0;
}

.composer-node__main {
  padding: 0.75rem;
  margin: 0.25rem;
  margin-top: 0;

  @include colorize-el-background( $main-color );
  box-shadow: $medium-shadow;
}

.composer-node--collapsed > .composer-node__main,
.composer-node__children--collapsed > .composer-node__main {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}

.composer-node__children {
  overflow: hidden;

  @include colorize-el-background( $children-color );
  box-shadow: inset $medium-shadow;
}

.composer-node__children > ul {
  margin: 0;
  padding: 0.5rem;
  list-style: none;
}

.composer-node__children--collapsed > ul {
  height: 0;
  padding: 0;
  overflow: hidden;
}

.composer-node__children > ul > li {
  margin: 0;
  padding: 0;
}

.composer-node__actions {
  display: block;
  float: right;
}

.composer-node__actions > li {
  display: block;
  float: left;
}

.composer-node__action {
  display: block;
  padding: 0;
  font-size: 1rem;
  line-height: 1.875rem;
  width: 1.875rem;
  margin: 0.5rem 0;
  text-align: center;
  cursor: default;

  color: hsl( 210, 5%, 95% );
  @include colorize-el( $action-color );
  box-shadow: $small-shadow;
}

.composer-node__action--disabled {
  opacity: 0.5;
}

.composer-node__actions > li:last-child .composer-node__action {
  margin-right: 0.5rem;
}

.composer-node__delete {
  color: hsl( 0, 5%, 95% );
  @include colorize-el( $action-delete-color );
  box-shadow: $small-shadow;
}

.composer__progress {
  position: fixed;
  top: 50%;
  left: 50%;
  width: $progress-width;
  height: $progress-height;
  margin-left: $progress-width / -2;
  margin-top: $progress-height / -2;
  padding: $progress-padding;

  @include colorize-el( $progress-color );
  box-shadow: $large-shadow;
}

.composer__progress > progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: $progress-width - $progress-padding * 2;
  height: $progress-height - $progress-padding * 2;

  border: none;
  background: #fff;
  color: $progress-bar-color;
  box-shadow: inset $tiny-shadow;
}

.composer__progress > progress::-webkit-progress-bar {
  border: none;
  background: #fff;
  box-shadow: inset $tiny-shadow;
}

.composer__progress > progress::-webkit-progress-value {
  @include colorize-el( $progress-bar-color );
}

.composer__progress > progress::-moz-progress-bar {
  @include colorize-el( $progress-bar-color );
}

.composer__progress--hidden {
  display: none;
}

.composer__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba( 255, 255, 255, 0.5 );
}

.composer__modal--hidden {
  display: none;
}
